.navbar-container{
position: fixed;
top: 0px;
background-color: transparent;
padding-left: 50px;
padding-right: 50px;
padding-top: 20px;
width: 1180px;
/* max-width: 100%; */
/* padding: 50px; */
}
.logo-img{
  height: 50px;
}
.navbar-items{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
.nav-links{
display: flex;
width: fit-content;
flex-direction: row;
justify-content: flex-start;
gap: 50px;
height: fit-content;
align-items: center;

}

li{
    list-style-type: none;
}
li:hover{
    cursor: pointer;
}
li::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: black;
    transition: .5s;
  }
  
  li:hover::after {
    width: 100%;
  }
  .login-btn{
    width: 100px;
    padding: 8px;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 700;
    border-radius: 35px;
    background-color: #190d01;
    color: #AC6C2F;
    gap: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
  }
  .login-btn:hover,.login-icon:hover{
    cursor: pointer;
    color: white;
  }
