<div class="navbar-container">
    <div class="navbar-items">
    <div class="nav-logo">
        <img src="../assets/logo.jpg" alt="logo" class="logo-img">
    </div>
    <div class="nav-links">
        <li class="items">Products</li>
        <li class="items">search</li>
        <li class="items">profile</li>
        <button class="login-btn" *ngIf="loggedin else logout" (click)="Login()">Login <span class="material-symbols-outlined login-icon">
            account_circle
            </span></button>

        <ng-template #logout>
        <button class="logout-btn" (click)="Logout()">Logout <span class="material-symbols-outlined login-icon">
            account_circle
            </span></button>
        </ng-template>
    </div>
    
</div>
</div>