.delivery-container{
    /* padding-left: 100px;
    padding-right: 100px; */
    display: flex;
    justify-content: center;
    margin-top: 200px;
    padding: 100px 0px 100px 0px;
    gap: 200px;
}
.icons{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.icon-image{
    width: 150px;
}
.icon-img{
    width: 100%;

}
.foodtruck{
    width: 200px;
}
