<div class="delivery-container">
    <div class="icons">
        <div class="icon-image">
            <img src="../assets/chocolate-box.png" alt="" class="icon-img">
        </div>
        <div class="icon-desc">
            <h3>Choose your chocolates</h3>
        </div>
    </div>
    <div class="icons">
        <div class="icon-image">
            <img src="../assets/food-truck.png" alt="" class="icon-img foodtruck">
        </div>
        <div class="icon-desc">
            <h3>Chocolates at your doorstep</h3>
        </div>
    </div>
    <div class="icons">
        <div class="icon-image">
            <img src="../assets/enjoy-chocolate.png" alt="" class="icon-img">
        </div>
        <div class="icon-desc">
            <h3>Enjoy your Chocolate</h3>
        </div>
    </div>
</div>